/* Default Styles for Background */
 

/****************section_contact***********************/

.section_contact {
  position: relative;
  width: 100vw;
  height: auto;
  background-image: url("../../public/Background_dark.png");
  background-size: 70%;
  background-position: center;
padding-block: 80px;
padding-inline: 80px;

  background-color: #3e3e3e;
}

.section_contact::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Ajuste l'opacité ici */
  z-index: 1;
}

.Input {
  background-color: #070707;
  border: 1px solid #2e2e2e;
  border-radius: 5px;
 
  box-shadow: rgba(149, 149, 149, 0.2) 0px 0px 10px;
  color: white;
}

.Input::placeholder {
  color: #878787;
  font-size: 13.5px;
 

}

.Input:focus{
  outline: none;
}


.section_horaire{
  background-color: #070707;
  border: 1px solid #2e2e2e;
  border-radius: 5px;
 
  box-shadow: rgba(149, 149, 149, 0.2) 0px 0px 10px;
}
/* Media query for screens less than 1000px */
@media (max-width: 1200px) {
 
  .section_contact {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../../public/Background_dark.png");
    background-size: cover; /* Utiliser 'cover' pour que l'image couvre tout l'écran */
    background-position: center center; /* Centrer l'image de fond */
    background-repeat: no-repeat; /* Empêcher la répétition de l'image */
    background-color: #3e3e3e;
  }
  
}
