.card {


  position: relative; /* Permet à l'image d'être positionnée par rapport à la carte */

 
    margin-top: 50px;
    padding-top: 50px; /* Ajuste l'espace à l'intérieur de la carte */
    background-color: white;
    height: 260px;
 
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
 
    border-radius: 250px 250px 10px 10px; /* Ajoute des bords arrondis */
    
}
.card-img-top {
  position: absolute;
  top: -110px; /* Fait dépasser l’image de la carte */
  left: 50%;
  transform: translateX(-50%); /* Centre l’image horizontalement */
  width: 200px !important; /* Set the width */
  height:auto !important;

 
}
