/* Background Image */
.background_header {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 10;
  background: url("../../public/Background_header.webp") center/cover no-repeat;
  display: flex;
  align-items: center;
  padding-top: 170px;
}

.section_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .section_1 {
   padding: 0px 50px 50px 50px;
     
  }
  .section_2 {
    padding-top:70px;
    place-content:end;
    width: 70%;
   }
  img {
    width: 100%;
    height: 100%;
   
    transform: translateX(10%);
 
  }
}
@media (max-width: 1200px) {
/* Background Image */
.background_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 150px;
  }
  
  .section_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  align-items: center;
   text-align: center;
  }
  .section_header img {
    display: none !important;
  }
  
}

@media (max-width: 769px) {
    /* Background Image */
    .background_header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     
      
        height: 90vh;
      }
      
    
      
    }