@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$yellow: #ffbe33;
$green: #5B9F21;
$dark: #484848;
body,
html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  position: relative;
  scroll-behavior: smooth;
 
}

body, h1, h2, h3, h4, p {
  font-family: var(--font-montserrat), sans-serif;
}
.header_title {
  font-family: var(--font-montserrat), sans-serif;

  font-size: 13px;
  color: white;
}

.header_title:hover {
  color: #ffbe33;
}

.text_header {
  font-family: var(--font-awakenning);

  color: white;
}

.text {

  color: #484848;
}
 



body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../public/Background_dark.webp");
  background-size: 70%; /* Adjust as needed */
  background-position: center;
 
  opacity: 0.07; /* Adjust opacity (0 = fully transparent, 1 = fully visible) */
  z-index: -1; /* Ensures it stays behind content */
}
.scrolled {
  background-image: url("../../public/Background_header.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-transparent {
  background-color: transparent;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50;
}

nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../public/Background_header.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* Smooth fade animation */
}

.scrolled::before {
  opacity: 1; /* Background fades in when scrolled */
}

nav > * {
  position: relative; /* Ensures content is not affected by the pseudo-element */
}
